@import layout
  
.feature-section
  &__heading
    font-size: 80px
    font-family: $secondary-text
    font-weight: 900
    letter-spacing: 3px
    margin-left: 530px

  &__card-grid
    margin-top: 60px
    margin-bottom: 250px
    display: grid
    grid-template-columns: 310px 310px 310px
    grid-template-rows: 310px 310px
    grid-column-gap: 60px
    grid-row-gap: 60px