@import layout
  
.feature-section
  position: relative
  &__pebble-box
    position: absolute
    &__pebble1
      display: none
      position: absolute
      width: 175px
      top: 110px
      left: 100vw * 0.06
      transform: rotate(0deg)
      @media (min-width: 701px)
        display: block
      @media (min-width: 871px)
        top: 100px
        transform: rotate(-30deg)
        left: 100vw * 0.07
      @media (min-width: 1051px)
        left: 100vw * 0.05
        top: 130px
      @media (min-width: 1120px)
        left: 100vw * 0.07
      @media (min-width: 1210px)
        left: 100vw * 0.09
      @media (min-width: 1290px)
        left: 100vw * 0.11
      @media (min-width: 1350px)
        left: 100vw * 0.13
    &__pebble2
      position: absolute
      width: 200px
      top: 550px
      left: 100vw * 0.1
      transform: rotate(170deg)
      @media (min-width: 511px)
        top: 480px
      @media (min-width: 701px)
        top: 400px
        left: 100vw * 0.375
        transform: rotate(210deg)
      @media (min-width: 891px)
        left: 100vw * 0.42
        top: 260px
      @media (min-width: 981px)
        top: 260px
      @media (min-width: 1051px)
        transform: rotate(180deg)
        width: 250px
    &__pebble3
      position: absolute
      width: 170px
      top: 110px
      left: 100vw * 0.5
      transform: rotate(-100deg)
      @media (min-width: 511px)
        top: 120px
        left: 100vw * 0.60
      @media (min-width: 701px)
        left: 100vw * 0.74
        width: 130px
        top: 120px
        transform: rotate(150deg)
      @media (min-width: 891px)
        top: 150px
        left: 100vw * 0.78
      @media (min-width: 1350px)
        left: 100vw * 0.75
    &__pebble4
      position: absolute
      width: 150px
      top: 1000px
      left: 100vw * 0.55
      transform: rotate(-25deg)
      @media (min-width: 511px)
        top: 900px
        left: 100vw * 0.6
      @media (min-width: 701px)
        width: 150px
        top: 780px
        left: 100vw * 0.7
        transform: rotate(-45deg)
      @media (min-width: 891px)
        width: 200px
        top: 560px
      @media (min-width: 1051px)
        top: 640px
        left: 100vw * 0.76
        transform: rotate(0deg)
      @media (min-width: 1181px)
        top: 600px
      @media (min-width: 1350px)
        left: 100vw * 0.75
        
    &__pebble5
      position: absolute
      width: 170px
      top: 1400px
      left: 100vw * 0.10
      transform: rotate(180deg)
      @media (min-width: 511px)
        top: 1300px
        width: 200px
      @media (min-width: 701px)
        top: 810px
      @media (min-width: 891px)
        width: 270px
        top: 580px
        left: 100vw * 0.10
        transform: rotate(130deg)
      @media (min-width: 1181px)
        top: 540px
        width: 300px
        left: 100vw * 0.05
      @media (min-width: 1210px)
        left: 100vw * 0.06
      @media (min-width: 1290px)
        left: 100vw * 0.08
      @media (min-width: 1350px)
        left: 100vw * 0.12
    &__pebble6
      position: absolute
      width: 180px
      top: 1800px
      left: 100vw * 0.45
      transform: rotate(-90deg)
      @media (min-width: 511px)
        width: 180px
        top: 1700px
        left: 100vw * 0.575
        transform: rotate(0deg)
      @media (min-width: 701px)
        width: 70px
        top: 1110px
        left: 100vw * 0.575
      @media (min-width: 781px)
        width: 120px
        top: 1110px
        left: 100vw * 0.55
      @media (min-width: 981px)
        top: 900px
        left: 100vw * 0.55
        width: 170px
      @media (min-width: 1051px)
        display: none

  &__heading
    font-size: 55px
    font-family: $secondary-text
    font-weight: 900
    letter-spacing: 3px
    text-align: center
    margin: 0
    
      
    @media (min-width: 700px) and (min-height: 400px)
      font-size: 55px
    @media (min-width: 500px) and (min-height: 500px)
      font-size: 64px
    @media (min-width: 768px) and (min-height: 700px)
      font-size: 80px
    @media (min-width: 1051px)
      text-align: left
      margin-left: 35%
    
  &__card-grid
    margin-top: 60px
    margin-bottom: 40px
    display: grid
    grid-template-columns: 340px
    grid-template-rows: 315px 315px 315px 315px 315px 315px
    grid-row-gap: 30px
    @media (min-width: 511px)
      grid-template-columns: 450px
      grid-template-rows: 265px 265px 265px 265px 265px 265px
    @media (min-width: 701px)
      grid-template-columns: 300px 300px
      grid-template-rows: 315px 315px 315px
      grid-column-gap: 30px
    @media (min-width: 781px)
      grid-column-gap: 60px
      grid-row-gap: 60px
    @media (min-width: 891px)
      grid-template-columns: 400px 400px
      grid-template-rows: 290px 290px 290px
      grid-column-gap: 30px
      grid-row-gap: 30px
    @media (min-width: 1051px)
      grid-template-columns: 310px 310px 310px
      grid-template-rows: 315px 315px
      grid-column-gap: 30px
      grid-row-gap: 30px
    @media (min-width: 1111px)
      grid-column-gap: 45px
      grid-row-gap: 45px
    @media (min-width: 1181px)
      grid-column-gap: 60px
      grid-row-gap: 60px