.footer-section
  height: 705px
  background: rgb(250,250,250)
  box-sizing: border-box
  padding-bottom: 35px
  padding-left: 20px
  display: flex
  flex-direction: column
  @media (min-width: 751px)
    padding-top: 30px
    height: 220px
    flex-direction: row
    justify-content: center

  div:first-child
    margin-top: 15px

  &__box
    margin-top: 30px
    @media (min-width: 751px)
      margin-top: 0px
      margin-right: 60px
    @media (min-width: 831px)
      margin-right: 80px

    &--last
      margin-right: 0px

    &__heading
      font-size: 15px
      font-weight: 700
      color: rgba(0,0,0,0.80)
      
    &__info-text
      font-size: 15px
      font-weight: 500
      color: rgba(0,0,0,0.15)
      line-height: 25px
      margin-top: 15px
      @media (min-width: 751px)
        font-size: 12px
        line-height: 19px
        margin-top: 15px

    &__footer-link
      font-size: 15px
      font-weight: 500
      color: rgba(0,0,0,0.15)
      margin-top: 15px
      cursor: pointer
      transition: all 0.2s ease-out

      &:hover
        color: rgba(0, 242, 255, 0.5)