@import layout
  
.hero-section
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  &__content
    text-align: center
    font-family: $secondary-text
  
    &__heading
      font-size: 100px
      font-weight: 900
      letter-spacing: 1.5px
      color: rgba(0,0,0,0.95)

    &__text
      margin-top: 20px
      font-size: 25px
      font-weight: 700
      color: rgba(0,0,0,0.8)

      span
        display: inline-block
        margin-right: 10px
        font-size: 30px
        transform: translateY(4px)
        