@import layout
  
.hero-section
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  &__content
    text-align: center
    font-family: $secondary-text
    margin-top: 0px
   
    @media (max-height: 500px)
      margin-top: 30px
  
    &__heading
      font-size: 55px
      font-weight: 900
      letter-spacing: 1.5px
      color: rgba(0,0,0,0.95)
      @media (min-width: 700px) and (min-height: 400px)
        font-size: 65px
      @media (min-width: 500px) and (min-height: 500px)
        font-size: 80px
      @media (min-width: 768px) and (min-height: 700px)
        font-size: 100px

    &__text
      margin-top: 11px
      font-size: 14px
      font-weight: 700
      color: rgba(0,0,0,0.8)
      cursor: pointer
      @media (min-width: 700px) and (min-height: 400px)
        font-size: 16px
        margin-top: 13px
      @media (min-width: 500px) and (min-height: 500px)
        font-size: 20px
        margin-top: 16px
      @media (min-width: 768px) and (min-height: 700px)
        font-size: 25px
        margin-top: 20px

      span
        display: inline-block
        margin-right: 10px
        font-size: 30px
        transform: translateY(4px)
        