@import layout
  
.praise-section
  width: 100%
  
  &__heading
    font-size: 80px
    font-family: $secondary-text
    font-weight: 900
    letter-spacing: 3px
    margin-left: 550px
  
  &__scroll-box
    padding-top: 60px
    padding-left: 60px
    padding-bottom: 60px
    overflow-x: scroll
    margin-bottom: 80px
    
    &::-webkit-scrollbar
      display: none;

    &__card-box
      display: flex
    
      &--one
        display: flex
        margin-bottom: 60px
        margin-left: 60px
        
        &__placeholder
          height: 150px
          min-width: 1px
    