@import layout
  
.praise-section
  position: relative
  width: 100%
  &__pebble-box
    position: absolute
    &__pebble1
      position: absolute
      width: 180px
      left: 100vw * 0.08
      top: 100px
      transform: rotate(170deg)
      @media (min-width: 671px)
        width: 200px
        transform: rotate(10deg)
        top: 50px
    &__pebble2
      position: absolute
      width: 170px
      left: 100vw * 0.74
      top: 110px
      transform: rotate(-70deg)
    &__pebble3
      position: absolute
      width: 300px
      left: 100vw * 0.4
      top: 150px
      transform: rotate(130deg)
    &__pebble4
      position: absolute
      width: 170px
      left: 100vw * 0.75
      top: 430px
      transform: rotate(140deg)
    &__pebble5
      position: absolute
      width: 170px
      left: 100vw * 0.15
      top: 400px
      transform: rotate(-80deg)
  &__heading
    font-size: 55px
    font-family: $secondary-text
    font-weight: 900
    letter-spacing: 3px
    text-align: center
    
    @media (min-width: 700px) and (min-height: 400px)
      font-size: 55px
    @media (min-width: 500px) and (min-height: 500px)
      font-size: 64px
    @media (min-width: 768px) and (min-height: 700px)
      font-size: 80px
    @media (min-width: 1051px)
      text-align: left
      margin-left: 55%
  &__scroll-box
    padding-top: 50px
    @media (min-width: 768px)
      padding-top: 60px
    padding-left: 60px
    padding-bottom: 60px
    overflow-x: scroll
    margin-bottom: 40px
    
    &__card-box
      display: flex
    
      &--one
        display: flex
        margin-bottom: 30px
        margin-left: 60px
        @media (min-width: 768px)
          margin-bottom: 60px
        
        &__placeholder
          height: 150px
          min-width: 1px
    