@import layout
  
.pricing-section
  position: relative
  &__pebble-box
    position: absolute
    &__pebble1
      position: absolute
      width: 400px
      top: 25px
      left: 100vw * 0.5
      transform: rotate(240deg)
    &__pebble2
      position: absolute
      width: 200px
      top: 120px
      left: 100vw * 0.075
      transform: rotate(90deg)
    &__pebble3
      position: absolute
      width: 350px
      top: 400px
      left: 100vw * 0.225
      transform: rotate(150deg)
    &__pebble4
      position: absolute
      width: 200px
      top: 480px
      left: 100vw * 0.775
      transform: rotate(75deg)
    &__pebble5
      position: absolute
      width: 100px
      top: 470px
      left: 100vw * 0.075
      transform: rotate(-20deg)
  &__heading
    font-size: 55px
    font-family: $secondary-text
    font-weight: 900
    letter-spacing: 3px
    text-align: center
    @media (min-width: 700px) and (min-height: 400px)
      font-size: 55px
    @media (min-width: 500px) and (min-height: 500px)
      font-size: 64px
    @media (min-width: 768px) and (min-height: 700px)
      font-size: 80px
    @media (min-width: 1051px)
      margin-left: calc(100vw * .10)
      text-align: left

  &__plan-box
    margin-top: 60px
    margin-bottom: 40px
    display: flex
    flex-direction: column
    @media (min-width: 871px)
      flex-direction: row
  
    > div
      margin-bottom: 30px
      @media (min-width: 671px)
        margin-bottom: 60px
      @media (min-width: 871px)
        margin-bottom: 0px
        margin-right: 30px
      @media (min-width: 1152px)
        margin-right: 60px
      &:last-child
        margin-right: 0px
        margin-bottom: 0px