@import layout
  
.pricing-section
  &__heading
    font-size: 80px
    font-family: $secondary-text
    font-weight: 900
    letter-spacing: 3px
    margin-left: 230px

  &__plan-box
    margin-top: 60px
    margin-bottom: 120px
    display: flex
  
    div
      margin-right: 60px

      &:last-child
        margin-right: 0px