@import layout
  
.problem-section
  &__header-box
    +section-text
    text-align: center

    &__heading
      font-size: 80px
      color: rgba(0,0,0,0.95)
      letter-spacing: 3px

    &__subtitle
      font-size: 18px
      font-weight: 700
      margin-top: 10px
      color: rgba(0,0,0,0.8)

    p:last-child
      margin-top: 0px