@import layout
  
.problem-section
  &__header-box
    font-family: $secondary-text
    font-weight: 900
    text-align: center

    &__heading
      font-size: 44px
      color: rgba(0,0,0,0.95)
      letter-spacing: 3px
      @media (min-width: 700px) and (min-height: 400px)
        font-size: 52px
      @media (min-width: 500px) and (min-height: 500px)
        font-size: 64px
      @media (min-width: 768px) and (min-height: 700px)
        font-size: 80px

    &__subtitle
      font-size: 18px
      font-weight: 700
      margin-top: 10px
      color: rgba(0,0,0,0.8)

    p:last-child
      margin-top: 0px

  &__card-box
    margin-top: 60px
    margin-bottom: 200px
    display: flex
    flex-direction: column
    @media (min-width: 871px)
      flex-direction: row
    
    > div
      margin-bottom: 30px
      @media (min-width: 511px)
        margin-bottom: 60px
      @media (min-width:871px)
        margin-bottom: 0px
    > div:first-child
      @media (min-width: 871px)
        margin-right: 60px