@import layout
  
.problem-section
  &__pebble-box
    position: absolute
    &__pebble1
      position: absolute
      width: 200px
      left: 100vw * 0.05
      top: 230px
      transform: rotate(-20deg)
      @media (min-width: 367px)
        top: 170px
      @media (min-width: 501px)
        transform: rotate(0deg)
      @media (min-width: 735px)
        top: 150px
      @media (min-width: 871px)
        width: 200px
        left: 100vw * 0.02
        top: 150px
      @media (min-width: 1050px)
        top: 70px
        width: 250px
        left: 100vw * 0.03
      @media (min-width: 1120px)
        left: 100vw * 0.04
      @media (min-width: 1210px)
        left: 100vw * 0.05
      @media (min-width: 1290px)
        left: 100vw * 0.07
      @media (min-width: 1350px)
        left: 100vw * 0.09

    &__pebble2
      display: none
      position: absolute
      top: 160px
      width: 200px
      left: 100vw * 0.7
      transform: rotate(65deg)
      @media (min-width: 735px)
        display: block
      @media (min-width: 871px)
        top: 160px
        width: 200px
        left: 100vw * 0.74
      @media (min-width: 1050px)
        top: 70px
        width: 250px
        left: 100vw * 0.72
    &__pebble3
      position: absolute
      top: 670px
      left: 100vw * .5
      width: 180px
      transform: rotate(240deg) translateX(50%)
      @media (min-width: 367px)
        top: 600px
      @media (min-width: 501px)
        left: 100vw * .65
      @media (min-width: 701px)
        top: 550px
      @media (min-width: 735px)
        top: 510px
        left: 100vw * .5
        transform: rotate(200deg) translateX(50%)
      @media (min-width: 871px)
        top: 400px
      @media (min-width: 981px)
        top: 350px
        width: 210px
    &__pebble4
      position: absolute
      width: 200px
      top: 1100px
      left: 100vw * 0.06
      transform: rotate(70deg)
      @media (min-width: 367px)
        top: 1000px
      @media (min-width: 511px)
        top: 950px
        left: 100vw * 0.06
        transform: rotate(60deg)
      @media (min-width: 701px)
        left: 100vw * 0.05
        top: 800px
      @media (min-width: 871px)
        top: 540px
        left: 100vw * 0.02
      @media (min-width: 1050px)
        width: 300px
        top: 480px
        left: 100vw * 0.02
      @media (min-width: 1120px)
        left: 100vw * 0.04
      @media (min-width: 1210px)
        left: 100vw * 0.08
      @media (min-width: 1290px)
        left: 100vw * 0.10
      @media (min-width: 1350px)
        left: 100vw * .12

    &__pebble5
      position: absolute
      display: none
      width: 200px
      top: 1050px
      transform: rotate(180deg)
      left: 100vw * .55
      @media (min-width: 701px)
        display: block
        left: 100vw * .675
        top: 800px
        transform: rotate(200deg)
      @media (min-width: 871px)
        top: 530px
        width: 200px
        left: 100vw * 0.73
      @media (min-width: 1050px)
        top: 500px
        width: 250px
        left: 100vw * 0.675

  &__header-box
    font-family: $secondary-text
    font-weight: 900
    
    &__heading
      font-size: 50px
      color: rgba(0,0,0,0.95)
      letter-spacing: 3px
      @media (min-width: 700px) and (min-height: 400px)
        font-size: 52px
      @media (min-width: 500px) and (min-height: 500px)
        font-size: 64px
      @media (min-width: 768px) and (min-height: 700px)
        font-size: 80px

    &__subtitle
      font-size: 18px
      font-weight: 700
      margin-top: 10px
      color: rgba(0,0,0,0.8)
      text-align: center

    p:last-child
      margin-top: 0px

  &__card-box
    margin-top: 60px
    margin-bottom: 30px
    display: flex
    flex-direction: column
    @media (min-width: 500px)
      margin-bottom: 20px
    @media (min-width: 511px)
      margin-bottom: 0px
    @media (min-width: 871px)
      flex-direction: row
      margin-bottom: 40px
    @media (min-width: 1051px)
      margin-bottom: 40px
    
    > div
      margin-bottom: 30px
      @media (min-width: 511px)
        margin-bottom: 60px
      @media (min-width:871px)
        margin-bottom: 0px
    > div:first-child
      @media (min-width: 871px)
        margin-right: 60px